<div style="text-align: center">
  <img
  src="../assets/myntra.jpg"
  alt="LCO logo"
  width="500"
  height="200"
  class="logo"
  />

  <h3 class="app-title">MY SHOPPING LIST</h3>

</div>

<div class="container">
  Add Your fav item
  <br>
  <input 
  type="text" 
  class="input-text"
  placeholder=""Type ur Item
  [(ngModel)]="shopValue"
  (keyup.enter)="addItem()"
  >
  <button class="add-btn" (click) = "addItem()" >Add ur Item</button>
  <div class="list">
    <ul>
      <li *ngFor = " let item of list ">
        <input type="checkbox" name="isDone"
       [(ngModel)]="item.isDone"
        >
        {{item.value}}
        <button class="btn" (click)="deleteItem(item.id)">Delete</button>

      </li>
    </ul>
  </div>
</div>

